
@{
    ViewData["Title"] = "Biller Details Setup";
}
<style>
    .wizard-big.wizard > .content {
        min-height: 530px !important;
    }
</style>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="form-group row">
        <div class="col-lg-12">
            <div class="ibox-title">
                <h5>Biller Details Setup</h5>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <form id="stepProcess" action="#" class="wizard-big">
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-xl-2"></div>
                                    <div class="col-xl-2">
                                        <label class="col-form-label">Biller ID</label>
                                    </div>
                                    <div class="col-xl-3">
                                        <div class="input-group">
                                            <input type="text" id="biller_id" name="biller_id" class="form-control form-element" />
                                            @*<button type="button" class="btn btn-outline-secondary btn-small" id="editPage">
                                    <i class="fa fa-edit" id="edit"></i>
                                </button>
                                <button type="button" class="btn btn-outline-secondary btn-small float-sm-right" id="searchPage">
                                    <i class="fa fa-search"></i>
                                </button>*@
                                            @*<input type="hidden" id="hf_biller_id" class="form-element" />*@
                                        </div>
                                    </div>
                                    <div class="col-xl-4"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-2"></div>
                                    <div class="col-xl-5">
                                        <hr />
                                    </div>
                                    <div class="col-xl-4"></div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xl-2"></div>
                                    <div class="col-xl-2">
                                        <label class="col-form-label">Biller Name<span class="required">*</span></label>
                                    </div>
                                    <div class="col-xl-3">
                                        <input type="text" id="biller_desc" name="biller_desc" class="form-control form-element required" />
                                    </div>
                                    <div class="col-xl-4"></div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xl-2"></div>
                                    <div class="col-xl-2">
                                        <label class="col-form-label">Biller Account<span class="required">*</span></label>
                                    </div>
                                    <div class="col-xl-3">
                                        <input type="text" id="cust_ac_no" name="cust_ac_no" class="form-control form-element required" />
                                    </div>
                                    <div class="col-xl-4"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-2"></div>
                                    <div class="col-xl-2">
                                        <label class="col-form-label">Status<span class="required">*</span></label>
                                    </div>
                                    <div class="col-xl-3">
                                        <select id="status" name="status" class="form-control form-element required"></select>
                                    </div>
                                    <div class="col-xl-4"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="form-group hr-line-dashed"> </div>
                    <div id="page1">
                        <div class="row">
                            <div class="col-xl-4"></div>
                            <div class="col-xl-3" style="text-align:left">
                                <input type="button" value="Clear Data" class="btn btn-default ks-next" id="clearPage">
                                <input type="button" value="Save Data" class="btn btn-primary ks-next" id="submitPage">
                            </div>
                            <div class="col-xl-5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var classBillerSetup = function () {
            var formId = "stepProcess";
            var init = function () {
                eventInitializer();
                validation(formId);
            };
            var eventInitializer = function () {
                $('#submitPage').click(submitPage);
                $('#searchPage').click(checkSearch);
                $('#editPage').click(checkEdit);
                $('#clearPage').click(clearPage);
                combo.getUserActiveStatus('status', true);
                $('#searchPage').css('visibility', 'hidden');
                $("#biller_id").prop("disabled", true);

                if ('@ViewBag.BillerDetail.biller_id' != "") {
                    var userInfo =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@ViewBag.BillerDetail));
                    ApplicationCommon.setData(userInfo, null);
                }
            };
            var submitPage = function () {
                if (ApplicationCommon.isValidForm(formId)) {
                    var accountOpen = ApplicationCommon.getData('form-element');
                    var url = '/BillerDetails/SetBillerDetails';
                    ApplicationCommon.request(url, 'POST', accountOpen, false, true, false, function (res) {
                        if (res.messageType == 1) {
                            clearPage();
                        }
                        ApplicationCommon.showNotification(res.messageType, res.messageString);
                    });
                }
            };
            var checkSearch = function () {
                var biller_id = $('#biller_id').val();
                if (biller_id != '') {
                    var formData = new FormData();
                    formData.append("biller_id", biller_id);
                    var url = '/BillerDetails/Index';
                    ApplicationCommon.request(url, 'POST', formData, false, true, false, function (res) {
                        if ('@ViewBag.BillerDetail' == null) {
                            ApplicationCommon.showNotification("2", "Invalid Biller Id");
                        }
                        else {
                            $("#biller_id").val('');
                            $('#searchPage').css('visibility', 'hidden');
                            $('#edit').removeClass('fa-close').addClass('fa-edit');
                            $("#biller_id").prop("disabled", true);
                            var billerDetail =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@ViewBag.BillerDetail));
                            ApplicationCommon.setData(billerDetail, null);
                        }
                    });
                }
                else {
                    ApplicationCommon.showNotification("2","Please Enter Biller Id");
                }
            };
            var checkEdit = function () {
                if ($('#edit').hasClass('fa-edit')) {
                    $('#searchPage').css('visibility', 'visible');
                    $("#biller_id").prop("disabled", false);
                    $('#edit').removeClass('fa-edit').addClass('fa-close');
                }
                else
                {
                    $("#biller_id").val('');
                    $('#searchPage').css('visibility', 'hidden');
                    $('#edit').removeClass('fa-close').addClass('fa-edit');
                    $("#biller_id").prop("disabled", true);
                }
            };

            var clearPage = function () {
                ApplicationCommon.clearFields(null, formId);
            };

            var validation = function (formId) {
                $('#' + formId).validate({
                    rules: {
                        biller_desc: {
                            required: true
                        },
                        cust_ac_no: {
                            required: true
                        },
                        status: {
                            required: true
                        }
                    },
                    messages: {
                        biller_desc: {
                            required: "Enter Biller Name to continue"
                        },
                        cust_ac_no: {
                            required: "Enter Biller Account to continue"
                        },
                        status: {
                            required: "Select Status to continue"
                        }
                    }
                });
            }
            return { init: init };
        }();

        classBillerSetup.init();

    </script>
}