@{
    ViewData["Title"] = "Process:Generate Commission";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox" id="divsidebarCollapse">
                <div class="ibox-title">
                    <h5>Process:Generate Commission</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up" id="sidebarCollapse"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id="sidebarContent">
                    <form id="formBatchProcess" action="#" class="wizard-big">
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group row">
                                        <div class="col-xl-2"></div>
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Month & Year<span class="required">*</span></label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input type="text" id="process_month" name="process_month" class="form-control form-element required" placeholder="mm/yyyy" data-mask="99/9999"/>
                                        </div>
                                        <div class="col-xl-5"></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-2"></div>
                                        <div class="col-xl-2">
                                            <label class="col-form-label">From Date</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input type="text" id="start_date" name="start_date" class="form-control form-element" readonly="readonly"/>
                                        </div>
                                        <div class="col-xl-5"></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-2"></div>
                                        <div class="col-xl-2">
                                            <label class="col-form-label">To Date</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input type="text" id="end_date" name="end_date" class="form-control form-element" readonly="readonly"/>
                                        </div>
                                        <div class="col-xl-5"></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-2"></div>
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Run ID</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input type="text" id="RUN_ID" name="RUN_ID" class="form-control form-element" readonly="readonly"/>
                                        </div>
                                        <div class="col-xl-5"></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-5"></div>
                                        <div class="col-xl-2">
                                            <button type="button" class="btn btn-primary" id="btnProcess">Process</button>
                                        </div>
                                        <div class="col-xl-2">
                                            <button type="button" class="btn btn-primary" id="btnProcessStatus">Process Run Status</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox " id="iboxTbl">
                <div class="ibox-title">
                    <h5>Process Running Status</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up" id="iboxTblImg"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id="iboxContent">
                    <div id="div_batchProcess"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">


        var classBatchProcess = function ()
        {
            var myVar; 
            var formId = "formBatchProcess";
            var init = function () {
                eventInitializer();
                validation(formId);
                $('#btnProcess').show();
                $('#btnProcessStatus').hide();
                clearTimeout(myVar);
            };
            var eventInitializer = function () {
                $('#btnProcess').click(runProcessCommand);
                $('#btnProcessStatus').click(getProcessStatus);
                $('#process_month').on('keyup', function ()
                {
                    var processMonth = $('#process_month').val();
                    setDateRange(processMonth);
                });
            };
            var runProcessCommand = function ()
            {
                if (ApplicationCommon.isValidForm(formId))
                {
                    var batchProcess = ApplicationCommon.getData('form-element');
                    var url = '/BatchProcess/RunProcessCommand';
                    ApplicationCommon.request(url, 'POST', batchProcess, false, true, false, function (res)
                    {
                        ApplicationCommon.showNotification(res.message.messageType, res.message.messageString);
                        if (res.message.messageType == 1)
                        {
                            $('#btnProcess').hide();
                            $('#btnProcessStatus').show();
                            $('#RUN_ID').val(res.runId);
                        }
                    });
                }
            };
            var getProcessStatus = function ()
            {
                var runId = $('#RUN_ID').val();
                if (!runId)
                {
                    ApplicationCommon.showNotification("2", "Submitt process to view status.");
                }
                else
                {
                    $('#div_batchProcess').empty();
                    var url = '/BatchProcess/GetProcessStatus';
                    $('#div_batchProcess').load(url + '?runId=' + runId);
                    $('#btnProcessStatus').hide();
                    myVar = setTimeout(getProcessStatus, 50000);
                }
            };
            var validation = function (formId)
            {
                $('#' + formId).validate({
                    rules: {
                        process_month: {
                            required: true
                        }
                    },
                    messages: {
                        process_month: {
                            required: "Enter process month to continue."
                        }
                    }
                });
            };
            var setDateRange = function (month_year)
            {
                if (month_year.indexOf('_') < 0)
                {
                    var m = parseInt(month_year.substr(0, 2), 10);
                    var y = parseInt(month_year.substr(3, 4), 10);

                    var fromDate = new Date(y, m - 1, 1)
                    var toDate = new Date(y, m, 0);
                    var dd = fromDate.getDate();
                    var mm = fromDate.getMonth() + 1;
                    var yyyy = fromDate.getFullYear();
                    if (dd < 10) 
                    {
                        dd = '0' + dd;
                    }

                    if (mm < 10) 
                    {
                        mm = '0' + mm;
                    } 

                    $('#start_date').val(dd + "/" + mm + '/' + yyyy);
                    var dd = toDate.getDate();
                    var mm = toDate.getMonth() + 1;
                    var yyyy = toDate.getFullYear();
                    if (dd < 10) 
                    {
                        dd = '0' + dd;
                    }

                    if (mm < 10) 
                    {
                        mm = '0' + mm;
                    }
                    $('#end_date').val(dd + "/" + mm + '/' + yyyy);
                }
            };
            return { init: init };
        }();

        classBatchProcess.init();

    </script>
}

