@{
    ViewData["Title"] = "Agent Outlet Setup";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h5> Agent Outlet Details Setup</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="agentSetup">
                                <div class="col-lg-12">
                                    <div class="form-group row">
                                        <div class="col-xl-12">
                                            <h4 class="col-form-label"> Outlet Information</h4>
                                        </div>
                                    </div>
                                    <div class="form-group hr-line-dashed"> </div>
                                    <div class="row form-group">
                                        <div class="col-lg-5">
                                            <div class="form-group row">
                                                <div class="col-xl-5">
                                                    <label class="col-form-label">Outlet ID:</label>
                                                </div>
                                                <div class="col-xl-7">
                                                    <input type="text" id="OUTLET_ID" name="OUTLET_ID" class="form-control form-element" readonly="readonly" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-xl-5">
                                                    <label class="col-form-label">Outlet Name:<span class="required">*</span></label>
                                                </div>
                                                <div class="col-xl-7">
                                                    <input type="text" id="OUTLET_NAME" name="OUTLET_NAME" class="form-control form-element required" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-xl-5">
                                                    <label class="col-form-label">Branch:<span class="required">*</span></label>
                                                </div>
                                                <div class="col-xl-7">
                                                    <select id="BRANCH_CODE" name="BRANCH_CODE" class="form-control form-element required"></select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-xl-5">
                                                    <label class="col-form-label">Division:<span class="required">*</span></label>
                                                </div>
                                                <div class="col-xl-7">
                                                    <select id="DIV_CODE" name="DIV_CODE" class="form-control form-element required"></select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-xl-5">
                                                    <label class="col-form-label">Thana:<span class="required">*</span></label>
                                                </div>
                                                <div class="col-xl-7">
                                                    <select id="THANA_CODE" name="THANA_CODE" class="form-control form-element required"></select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-xl-5">
                                                    <label class="col-form-label">Address:<span class="required">*</span></label>
                                                </div>
                                                <div class="col-xl-7">
                                                    <textarea id="ADDRESS" name="ADDRESS" class="form-control form-element required"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="vertical-line vertical-line-border">
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="form-group row">
                                                <div class="col-xl-5">
                                                    <label class="col-form-label">Agent ID:<span class="required">*</span></label>
                                                </div>
                                                <div class="col-xl-7">
                                                    <select id="AGENT_ID" name="AGENT_ID" class="form-control form-element required"></select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-xl-5">
                                                    <label class="col-form-label">Account:<span class="required">*</span></label>
                                                </div>
                                                <div class="col-xl-7">
                                                    <select id="CUST_AC_NO" name="CUST_AC_NO" class="form-control form-element required"></select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-xl-5">
                                                    <label class="col-form-label">District:<span class="required">*</span></label>
                                                </div>
                                                <div class="col-xl-7">
                                                    <select id="DIST_CODE" name="DIST_CODE" class="form-control form-element required"></select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-xl-5">
                                                    <label class="col-form-label">Location:<span class="required">*</span></label>
                                                </div>
                                                <div class="col-xl-7">
                                                    <select id="LOC_TYPE" name="LOC_TYPE" class="form-control form-element required"></select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-xl-5">
                                                    <label class="col-form-label">Contact Person Name:</label>
                                                </div>
                                                <div class="col-xl-7">
                                                    <input type="text" id="CONTACT_NAME" name="CONTACT_NAME" class="form-control form-element" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-xl-5">
                                                    <label class="col-form-label">Contact Person Mobile:</label>
                                                </div>
                                                <div class="col-xl-7">
                                                    <input type="text" id="CONTACT_MOBILE" name="CONTACT_MOBILE" class="form-control form-element" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group hr-line-dashed"> </div>
                                    <div style="text-align:left" id="page1">
                                        <input type="button" value="Clear Data" class="btn btn-default ks-next" id="btnClear">
                                        <input type="button" value="Save Data" class="btn btn-primary ks-next" id="btnSave">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script type="text/javascript">
        var classAgentSetup = function ()
        {
            var formId = "agentSetup";
            var init = function ()
            {
                eventInitializer();
                validation(formId);
                var model =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@ViewBag.AgentOutlet));
                ApplicationCommon.setData(model, null);
                $('#AGENT_ID').change();
                $('#CUST_AC_NO').val(model.CUST_AC_NO);
                $('#DIV_CODE').change();
                $('#DIST_CODE').val(model.DIST_CODE);
                $('#DIST_CODE').change();
                $('#THANA_CODE').val(model.THANA_CODE);
            };
            var eventInitializer = function ()
            {
                $('#btnSave').click(saveAgentOutlet);
                $('#btnClear').click(clear);
                $('#AGENT_ID').on('change', function ()
                {
                    var agentId = $('#AGENT_ID').val();
                    combo.getAgentAccountList('CUST_AC_NO', '/Common/GetAgentAccountList', agentId, true);
                });
                $('#DIV_CODE').on('change', function ()
                {
                    var div_code = $('#DIV_CODE').val();
                    combo.getDistrictList('DIST_CODE', '/Common/GetDistrictList', div_code, true);
                });
                $('#DIST_CODE').on('change', function ()
                {
                    var div_code = $('#DIV_CODE').val();
                    var dist_code = $('#DIST_CODE').val();
                    combo.getThanaList('THANA_CODE', '/Common/GetThanaList', div_code, dist_code, true);
                });
                combo.getAgentList('AGENT_ID', '/Common/GetAgentListCombo', true);
                combo.getBarnchList('BRANCH_CODE', '/Common/GetBarnchListCombo', true);
                combo.getDivisionList('DIV_CODE', '/Common/GetDivisionList', true);
                combo.getLocation('LOC_TYPE', true);
            };
            var clear = function ()
            {
                ApplicationCommon.clearFields(null, formId);

            };
            var saveAgentOutlet = function ()
            {
                if (ApplicationCommon.isValidForm(formId))
                {
                    var agentOutlet = ApplicationCommon.getData('form-element');
                    var url = '/Agent/SaveAgentOutletDetails';
                    ApplicationCommon.request(url, 'POST', agentOutlet, false, true, false, function (res)
                    {
                        ApplicationCommon.showNotification(res.messageType, res.messageString);

                        if (res.messageType == 1)
                        {
                            clear();
                        }
                    });
                }
            };

            var validation = function (formId)
            {
                $('#' + formId).validate({
                    rules: {
                        OUTLET_NAME: {
                            required: true
                        },
                        AGENT_ID: {
                            required: true
                        },
                        BRANCH_CODE: {
                            required: true
                        },
                        CUST_AC_NO: {
                            required: true
                        },
                        DIV_CODE: {
                            required: true
                        },
                        DIST_CODE: {
                            required: true
                        },
                        THANA_CODE: {
                            required: true
                        },
                        LOC_TYPE: {
                            required: true
                        },
                        ADDRESS: {
                            required: true
                        }
                    },
                    messages: {
                        OUTLET_NAME: {
                            required: "Enter agent outlet name to continue."
                        },
                        AGENT_ID: {
                            required: "Enter agent ID to continue."
                        },
                        BRANCH_CODE: {
                            required: "Enter agent branch to continue."
                        },
                        CUST_AC_NO: {
                            required: "Enter agent account to continue."
                        },
                        DIV_CODE: {
                            required: "Enter outlet division to continue."
                        },
                        DIST_CODE: {
                            required: "Enter outlet district to continue."
                        },
                        THANA_CODE: {
                            required: "Enter outlet thana to continue."
                        },
                        LOC_TYPE: {
                            required: "Enter outlet location to continue."
                        },
                        ADDRESS: {
                            required: "Enter outlet address to continue."
                        }
                    }
                });
            };
            return { init: init };
        }();

        classAgentSetup.init();
    </script>
}



