
@{
    ViewData["Title"] = "User Setup";
}
    <style>
        .wizard-big.wizard > .content {
            min-height: 530px !important;
        }

    </style>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="form-group row">
        <div class="col-lg-12">
            <div class="ibox-title">
                <h5>User Setup</h5>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <form id="stepProcess" action="#" class="wizard-big">
                        <div class="row form-group">

                            <div class="col-lg-5">
                                <div class="form-group row">
                                    <div class="col-xl-12">
                                        <h4 class="col-form-label">User Credential</h4>
                                    </div>
                                </div>
                                <div class="form-group hr-line-dashed"> </div>
                                <div class="form-group row">
                                    <div class="col-xl-6">
                                        <label class="col-form-label">User Id<span class="required">*</span></label>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="input-group">
                                            <input type="text" id="USER_ID" name="USER_ID" class="form-control form-element required" />
                                            <img id="btnCheck" src="~/ApplicationTheme/assets/img/refresh_stopped.gif" style="cursor: pointer !important;" alt="EnrollStatus" width="30" height="30" title="Click to Check User" />
                                            <input type="hidden" id="hf_user_status" class="form-element" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xl-12">
                                        <h4 class="col-form-label">User Details</h4>
                                    </div>
                                </div>
                                <div class="form-group hr-line-dashed"> </div>
                                <div class="form-group row">
                                    <div class="col-xl-6">
                                        <label class="col-form-label">Email<span class="required">*</span></label>
                                    </div>
                                    <div class="col-xl-6">
                                        <input type="text" id="EMAIL" name="EMAIL" class="form-control form-element required" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xl-6">
                                        <label class="col-form-label">Full Name<span class="required">*</span></label>
                                    </div>
                                    <div class="col-xl-6">
                                        <input type="text" id="USER_NAME" name="USER_NAME" class="form-control form-element required" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xl-6">
                                        <label class="col-form-label">Phone<span class="required">*</span></label>
                                    </div>
                                    <div class="col-xl-6">
                                        <input type="text" id="PHONE" name="PHONE" class="form-control form-element required" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xl-12">
                                        <h4 class="col-form-label">User Properties</h4>
                                    </div>
                                </div>
                                <div class="form-group hr-line-dashed"> </div>
                                <div class="form-group row">
                                    <div class="col-xl-6">
                                        <label class="col-form-label">User Type<span class="required">*</span></label>
                                    </div>
                                    <div class="col-xl-6">
                                        <select id="USER_TYPE" name="USER_TYPE" class="form-control form-element required"></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xl-6">
                                        <label class="col-form-label">OTP Required on Logon</label>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input form-element" id="OTP_REQ" name="OTP_REQ">
                                            <label class="form-check-label" for="OTP_REQ">(Yes/No)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xl-6">
                                        <label class="col-form-label">Bind User to IP</label>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input form-element" id="BIND_IP" name="BIND_IP">
                                            <label class="form-check-label" for="BIND_IP">(Yes/No)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xl-6">
                                        <label class="col-form-label">User IP Address</label>
                                    </div>
                                    <div class="col-xl-6">
                                        <input type="text" id="CLIENT_IP" name="CLIENT_IP" class="form-control form-element" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xl-12">
                                        <h4 class="col-form-label">Default Navigation</h4>
                                    </div>
                                </div>
                                <div class="form-group hr-line-dashed"> </div>
                                <div class="form-group row">
                                    <div class="col-xl-6">
                                        <label class="col-form-label">Default Module</label>
                                    </div>
                                    <div class="col-xl-6">
                                        <select id="MOD_ID" name="MOD_ID" class="form-control form-element"></select>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="vertical-line vertical-line-border">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group row">
                                    <div class="col-xl-12">
                                        <h4 class="col-form-label">Employee Details(If User is an Admin)</h4>
                                    </div>
                                </div>
                                <div class="form-group hr-line-dashed"> </div>
                                <div class="form-group row">
                                    <div class="col-xl-6">
                                        <label class="col-form-label">Emp Id</label>
                                    </div>
                                    <div class="col-xl-6">
                                        <input type="text" id="EMP_ID" name="EMP_ID" class="form-control form-element" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xl-6">
                                        <label class="col-form-label">Branch</label>
                                    </div>
                                    <div class="col-xl-6">
                                        <select id="BRANCH_CODE" name="BRANCH_CODE" class="form-control form-element required"></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xl-6">
                                        <label class="col-form-label">Department</label>
                                    </div>
                                    <div class="col-xl-6">
                                        <select id="DEPT_CODE" name="DEPT_CODE" class="form-control form-element"></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xl-12">
                                        <h4 class="col-form-label">Agent Details(If User is an Agent)</h4>
                                    </div>
                                </div>
                                <div class="form-group hr-line-dashed"> </div>
                                <div class="form-group row">
                                    <div class="col-xl-6">
                                        <label class="col-form-label">Agent</label>
                                    </div>
                                    <div class="col-xl-6">
                                        <select id="AGENT_ID" name="AGENT_ID" class="form-control form-element required"></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xl-6">
                                        <label class="col-form-label">Agent Outlet</label>
                                    </div>
                                    <div class="col-xl-6">
                                        <select id="OUTLET_ID" name="OUTLET_ID" class="form-control form-element required"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="form-group hr-line-dashed"> </div>
                    <div style="text-align:left" id="page1">
                        <input type="button" value="Clear Form" class="btn btn-default ks-next" id="clearPage">
                        <input type="button" value="Create User" class="btn btn-primary ks-next" id="submitPage">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var classUserSetup = function () {
            var formId = "stepProcess";
            var init = function () {
                eventInitializer();
                validation(formId);
            };
            var eventInitializer = function () {
                $('#submitPage').click(submitPage);
                $('#btnCheck').click(checkUserStatus);
                $('#USER_TYPE').change(enableFields);
                $('#AGENT_ID').change(loadAgentOutlet);
                $('#clearPage').click(clearPage);
                disableFields();
                combo.getModuleList("MOD_ID", '/Common/GetModuleListCombo', true);
                combo.getUserTypeList("USER_TYPE", '/Common/GetUserTypeListCombo', true);
                combo.getBarnchList("BRANCH_CODE", '/Common/GetBarnchListCombo', true);
                combo.getDepartmentList("DEPT_CODE", '/Common/GetDepartmentListCombo', true);
                combo.getAgentList("AGENT_ID", '/Common/GetAgentListCombo', true);

                if ('@ViewBag.UserInfo.USER_ID' != "") {
                    var userInfo =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@ViewBag.UserInfo));
                    ApplicationCommon.setData(userInfo, null);
                    $("#submitPage").val('Update User');
                    if ($("#USER_TYPE").val() == "01" || $("#USER_TYPE").val() == "03") {
                        $("#EMP_ID").removeAttr("disabled");
                        $("#DEPT_CODE").removeAttr("disabled");
                        $("#BRANCH_CODE").removeAttr("disabled");
                    }
                    if ($("#USER_TYPE").val() == "02" || $("#USER_TYPE").val() == "03") {
                        $("#AGENT_ID").removeAttr("disabled");
                        $("#OUTLET_ID").removeAttr("disabled");
                        $("#BRANCH_CODE").removeAttr("disabled");
                    }
                }
            };
            var submitPage = function () {
                if (ApplicationCommon.isValidForm(formId)) {
                    var accountOpen = ApplicationCommon.getData('form-element');
                    var url = '/AppUserSetup/CreateUser';
                    ApplicationCommon.request(url, 'POST', accountOpen, false, true, false, function (res) {
                        if (res.messageType == 1) {
                            clearPage();
                        }
                        ApplicationCommon.showNotification(res.messageType, res.messageString);
                    });
                }
            };
            var checkUserStatus = function () {
                var user_id = $('#USER_ID').val();
                var formData = new FormData();
                formData.append("USER_ID", user_id);
                var url = '/AppUserSetup/CheckExistingUser';
                ApplicationCommon.request(url, 'POST', formData, false, true, false, function (res) {
                    if (res.messageType == 1) {
                        $("#hf_user_status").val('0');
                        ApplicationCommon.showNotification(res.messageType, res.messageString);
                        //$("#btnCheck").attr("src", "/ApplicationTheme/assets/img/refresh_stopped.gif");
                    }
                    else {
                        $("#hf_user_status").val('1');
                        ApplicationCommon.showNotification(res.messageType, res.messageString);
                    }
                });
            };
            var loadAgentOutlet = function () {
                var agent_id = $('#AGENT_ID').val();
                combo.getAgentOutletList("OUTLET_ID", '/Common/GetAgentOutletListCombo', agent_id, true);
            };
            var enableFields = function () {
                disableFields();
                if ($("#USER_TYPE").val() == "01" || $("#USER_TYPE").val() == "03") {
                    $("#EMP_ID").removeAttr("disabled");
                    $("#DEPT_CODE").removeAttr("disabled");
                    $("#BRANCH_CODE").removeAttr("disabled");
                }
                if ($("#USER_TYPE").val() == "02" || $("#USER_TYPE").val() == "03") {
                    $("#AGENT_ID").removeAttr("disabled");
                    $("#OUTLET_ID").removeAttr("disabled");
                    $("#BRANCH_CODE").removeAttr("disabled");
                }
            };
            var disableFields = function () {

                $("#EMP_ID").val('');
                $("#DEPT_CODE").prop('selectedIndex', 0);
                $("#BRANCH_CODE").prop('selectedIndex', 0);
                $("#AGENT_ID").prop('selectedIndex', 0);
                $("#OUTLET_ID").prop('selectedIndex', 0);

                $("#EMP_ID").attr("disabled", "disabled");
                $("#DEPT_CODE").attr("disabled", "disabled");
                $("#BRANCH_CODE").attr("disabled", "disabled");
                $("#AGENT_ID").attr("disabled", "disabled");
                $("#OUTLET_ID").attr("disabled", "disabled");
            }
            var clearPage = function () {
                ApplicationCommon.clearFields();
                $("#submitPage").val('Create User');
            };

            var validation = function (formId) {
                $('#' + formId).validate({
                    rules: {
                        user_id: {
                            required: true
                        },
                        user_name: {
                            required: true
                        },
                        email: {
                            required: true,
                            email: true
                        },
                        phone: {
                            required: true,
                            number: true
                        },
                        user_type: {
                            required: true
                        }
                    },
                    messages: {
                        user_id: {
                            required: "Enter User Id to continue"
                        },
                        user_name: {
                            required: "Enter User Name to continue"
                        },
                        email: {
                            required: "Enter email to continue",
                            email: "Enter valid email to continue"
                        },
                        phone: {
                            required: "Enter phone number to continue",
                            number: "Enter valid phone number"
                        },
                        user_type: {
                            required: "Select User Type to continue"
                        }
                    }
                });
            }
            return { init: init };
        }();

        classUserSetup.init();

    </script>
}