
@{
    ViewData["Title"] = "Index";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox" id="divsidebarCollapse">
                <div class="ibox-title">
                    <h5>RM Assign</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up" id="sidebarCollapse"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id="sidebarContent">
                    <form id="stepProcess" action="#" class="wizard-big">
                        <fieldset>
                            <legend>Search Parameters</legend>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group row">
                                        <div class="col-xl-2"></div>
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Business Segment</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <select id="loanType" name="loanType" class="form-control form-element chosen-select"></select>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-2"></div>
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Loan Product</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <select id="loanProduct" name="loanProduct" class="form-control form-element chosen-select">
                                                <option value="">ALL</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-2"></div>
                                        <div class="col-xl-2">
                                            <label class="col-form-label">UBS RM Code</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input id="rmCode" name="rmCode" class="form-control form-element" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-xl-5"></div>
                                        <div class="col-xl-2">
                                            <button type="button" class="btn btn-primary" id="search">Search</button>
                                        </div>
                                        <div class="col-xl-3"></div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox " id="iboxTbl">
                <div class="ibox-title">
                    <h5>Available Loan List to Assign</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up" id="iboxTblImg"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id="iboxContent">
                    <div id="div-availableLoan"></div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xl-3"></div>
            <div class="col-xl-2">
                <input type="button" value="Assign RM" class="btn btn-primary ks-next" id="btnModalOpen">
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="updateRMData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Assign RM</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label">New RM</label>
                        <select id="newRmCode" name="newRmCode" class="form-control form-element chosen-select">
                        @*<select data-placeholder="Choose a Country..." class="chosen-select" tabindex="2">*@
                            @*<option value="">Select</option>
                            <option value="United States">United States</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="Afghanistan">Afghanistan</option>
                            <option value="Aland Islands">Aland Islands</option>
                            <option value="Albania">Albania</option>*@
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Effect Date</label>
                        <div class="input-group date">
                            <input class="form-control form-element" type="text" id="effectDate" name="effectDate" placeholder="dd/mm/yyyy" data-mask="99/99/9999">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="button" value="Assign" class="btn btn-primary ks-next" id="btnAssign">
                <input type="button" value="Close" class="btn btn-danger ks-next" data-dismiss="modal" id="btnClose">
            </div>
        </div>
    </div>
</div>
@section Styles {
    <link rel="stylesheet" href="~/ApplicationTheme/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="~/ApplicationTheme/lib/chosen/bootstrap-chosen.css" />
}
@section scripts{
    <script src="~/ApplicationTheme/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/ApplicationTheme/lib/chosen/chosen.jquery.js"></script>
    <script type="text/javascript">


        var classRMLoanAssign = function ()
        {
            var loanList = "";
            var init = function ()
            {
                eventInitializer();

            };
            var eventInitializer = function ()
            {
                $('#btnModalOpen').hide();
                $('#search').click(searchInitiate);
                $('#btnAssign').click(assignRM);
                $('#btnModalOpen').click(showModaldata);
                searchInitiate();
                combo.getRmList('newRmCode', '@Url.Content("~/Common/GetRmList")', true,"Select");
                combo.getLoanType('loanType', true,"ALL");
                $('#loanType').on('change', function ()
                {
                    var loanType = $('#loanType').val();
                    combo.getLoanProductList('loanProduct','@Url.Content("~/Common/GetLoanProductList")', loanType, true,"ALL");
                    $('#loanProduct').trigger("chosen:updated");
                });
                $('.input-group.date').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true,
                    format: 'dd/mm/yyyy',
                });
                $('.chosen-select').chosen({ width: "100%" });
            };
            var showModaldata = function ()
            {
                var checkedVals = $('.innerCheck:checkbox:checked').map(function ()
                {
                    return this.value;
                }).get();
                if (checkedVals == '')
                {
                    ApplicationCommon.showNotification("2", "Please Select a Loan.")
                }
                else
                {
                    loanList = checkedVals.join(",");
                    $('#effectDate').val('');
                    $('#newRmCode').val('').trigger('chosen:updated');
                    $('#updateRMData').modal('show');
                }
                
            };

            var searchInitiate = function ()
            {
                $('#div-availableLoan').empty();
                var loanType = $('#loanType').val();
                var loanProduct = '';
                if ($('#loanProduct').val()) {
                    loanProduct = $('#loanProduct').val();
                } 
                var rmCode = $('#rmCode').val();
                var url ='@Url.Content("~/RMAsset/GetAvailableLoan")';
                $('#div-availableLoan').load(url + '?loanType=' + loanType + '&&loanProduct=' + loanProduct + '&&rmCode=' + rmCode, function (response, status, xhr) {
                    ApplicationCommon.sessionTimeOut(xhr);
                });

            };
            var assignRM = function ()
            {
                if ($("#newRmCode").val() == '')
                {
                    ApplicationCommon.showNotification("Error", "Select RMCode to continue.");
                }
                else if ($("#effectDate").val() == '')
                {
                    ApplicationCommon.showNotification("Error", "Enter EffevtiveDate to continue.");
                }
                else
                {
                    var formData = new FormData();
                    formData.append("loanList", loanList);
                    formData.append("newRmCode", $("#newRmCode").val());
                    formData.append("effectDate", $("#effectDate").val());
                    var url ='@Url.Content("~/RMAsset/SetAssignRM")';
                    ApplicationCommon.request(url, 'POST', formData, false, true, false, function (res)
                    {
                        ApplicationCommon.showNotification(res.messageType, res.messageString);
                        if (res.messageType == 1)
                        {
                            $('#updateRMData').modal('hide');
                            ApplicationCommon.forceModalClose();
                            searchInitiate();
                        }
                    });
                }
            };
            return { init: init };
        }();

        classRMLoanAssign.init();

    </script>
}

