
@{
    ViewData["Title"] = "BranchWiseRetailReport";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Agent Details Setup</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-striped table-bordered table-hover  table-responsive" id="tb-agentAccount" width="100%">
                                <thead>
                                    <tr>
                                        <th rowspan="3">SL.</th>
                                        <th rowspan="3">Code of Branch</th>
                                        <th rowspan="3">Name of Branch</th>
                                        <th rowspan="3">Name of Area</th>
                                        <th colspan="10" class="text-center">Retail Loan Outstanding-Target-Achievement and Position</th>
                                        <th colspan="6" class="text-center">PD (Disbursed loans in last 12 months)</th>
                                        <th colspan="4" class="text-center">Loan Disbursement</th>
                                        <th colspan="4" class="text-center">Income</th>
                                        <th colspan="9" class="text-center">CL O/S as of Last qtr.2019</th>
                                        <th colspan="2" class="text-center">Net W/O as of Last qtr. 2019</th>
                                        <th colspan="2" class="text-center">Closing A/C</th>
                                    </tr>
                                    <tr>
                                        <th colspan="2" class="text-center">O/S position in last year-2018</th>
                                        <th colspan="2" class="text-center">O/S position as of Last month</th>
                                        <th rowspan="2">O/S position as of today/YTD</th>
                                        <th rowspan="2">O/S growth-YTD</th>
                                        <th rowspan="2">O/S growth-MTD</th>
                                        <th rowspan="2">O/S growth target-for the yr.2019</th>
                                        <th rowspan="2">O/S growth target-YTD</th>
                                        <th rowspan="2">% of achit. of O/S growth-YTD</th>
                                        <th colspan="2" class="text-center">As of last yr.-2018</th>
                                        <th colspan="2" class="text-center">YTD</th>
                                        <th colspan="2" class="text-center">Difference</th>
                                        <th colspan="2" class="text-center">YTD</th>
                                        <th colspan="2" class="text-center">MTD</th>
                                        <th rowspan="2">Target for the Yr.-2019</th>
                                        <th rowspan="2">YTD Target</th>
                                        <th rowspan="2">Acht.-YTD</th>
                                        <th rowspan="2">% of Acht.</th>
                                        <th colspan="2" class="text-center">SS</th>
                                        <th colspan="2" class="text-center">DF</th>
                                        <th colspan="2" class="text-center">BL</th>
                                        <th colspan="2" class="text-center">Total</th>
                                        <th rowspan="2">% of CL (with O/S)</th>
                                        <th rowspan="2"># of A/C</th>
                                        <th rowspan="2">Amount</th>
                                        <th rowspan="2"># of A/C</th>
                                        <th rowspan="2">Amount</th>
                                    </tr>
                                    <tr>
                                        <th># of A/C</th>
                                        <th>Amount</th>
                                        <th># of A/C</th>
                                        <th>Amount</th>
                                        <th># of A/C</th>
                                        <th>Amount</th>
                                        <th># of A/C</th>
                                        <th>Amount</th>
                                        <th># of A/C</th>
                                        <th>Amount</th>
                                        <th># of A/C</th>
                                        <th>Amount</th>
                                        <th># of A/C</th>
                                        <th>Amount</th>
                                        <th># of A/C</th>
                                        <th>Amount</th>
                                        <th># of A/C</th>
                                        <th>Amount</th>
                                        <th># of A/C</th>
                                        <th>Amount</th>
                                        <th># of A/C</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                @for (var i = 1; i <= 10; i++)
                                {
                                <tr>

                                    <td>@i</td>
                                    <td>3202</td>
                                    <td>Head Office</td>
                                    <td>DHAKA</td>
                                    <td>12457863952</td>
                                    <td>50000+@i</td>
                                    <td>12457863952</td>
                                    <td>50000+@i</td>
                                    <td>50000+@i</td>
                                    <td>50000+@i</td>
                                    <td>50000+@i</td>
                                    <td>50000+@i</td>
                                    <td>50000+@i</td>
                                    <td>50000+@i</td>
                                    <td>12457863952</td>
                                    <td>50000+@i</td>
                                    <td>12457863952</td>
                                    <td>50000+@i</td>
                                    <td>12457863952</td>
                                    <td>50000+@i</td>
                                    <td>12457863952</td>
                                    <td>50000+@i</td>
                                    <td>12457863952</td>
                                    <td>50000+@i</td>
                                    <td>50000+@i</td>
                                    <td>50000+@i</td>
                                    <td>50000+@i</td>
                                    <td>50000+@i</td>
                                    <td>12457863952</td>
                                    <td>50000+@i</td>
                                    <td>12457863952</td>
                                    <td>50000+@i</td>
                                    <td>12457863952</td>
                                    <td>50000+@i</td>
                                    <td>12457863952</td>
                                    <td>50000+@i</td>
                                    <td>50000+@i</td>
                                    <td>12457863952</td>
                                    <td>50000+@i</td>
                                    <td>12457863952</td>
                                    <td>50000+@i</td>
                                </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
       
        var rowArray = [];
        var colArray = [];
        ////var rowAdvance = 0;
        ////var col = 1;
        ////$('#tb-agentAccount thead tr').each(function (index)
        ////{
        ////    var rowcolNo = 1; var colCal = 0; var rowCal = 0;
        ////    $(this).find('th').each(function ()
        ////    {
        ////        var rowSpan = $(this).prop("rowspan");
        ////        if (rowSpan> 1)
        ////        {
        ////            rowAdvance++;
        ////            col = index>0 && colCal=== 0? col - rowAdvance : col;
        ////            //  colArray.push([2, 4, rowcolNo]);
        ////            console.log([index + 2, index +1+rowSpan, col]);
        ////            colCal++;
        ////        } 
        ////        col++;
        ////        var colSpan = $(this).prop("colspan");
        ////        if (colSpan > 1)
        ////        {
        ////            rowcolNo = index > 0 && rowCal === 0 ? rowcolNo + rowAdvance : rowcolNo;
        ////            rowArray.push([rowcolNo, rowcolNo + colSpan, index + 2]);
        ////           // console.log([rowcolNo, rowcolNo + colSpan, index + 2]);
        ////            rowcolNo = rowcolNo + colSpan;
        ////            rowCal++;
        ////        } else
        ////        {
        ////            rowcolNo++;
        ////        }
               
        ////    }); 
            
        ////});
        rowArray.push([5, 15, 2]);
        rowArray.push([15, 21, 2]);
        rowArray.push([21, 25, 2]);
        rowArray.push([25, 29, 2]);
        rowArray.push([29, 38, 2]);
        rowArray.push([38, 40, 2]);
        rowArray.push([40, 42, 2]);
        rowArray.push([5, 7, 3]);
        rowArray.push([7, 9, 3]);
        rowArray.push([15, 17, 3]);
        rowArray.push([17, 19, 3]);
        rowArray.push([19, 21, 3]);
        rowArray.push([21, 23, 3]);
        rowArray.push([23, 25, 3]);
        rowArray.push([29, 31, 3]);
        rowArray.push([31, 33, 3]);
        rowArray.push([33, 35, 3]);
        rowArray.push([35, 37, 3]);

        colArray.push([2, 4, 1]);
        colArray.push([2, 4, 2]);
        colArray.push([2, 4, 3]);
        colArray.push([2, 4, 4]);
        colArray.push([3, 4, 9]);
        colArray.push([3, 4, 10]);
        colArray.push([3, 4, 11]);
        colArray.push([3, 4, 12]);
        colArray.push([3, 4, 13]);
        colArray.push([3, 4, 14]);
        colArray.push([3, 4, 25]);
        colArray.push([3, 4, 26]);
        colArray.push([3, 4, 27]);
        colArray.push([3, 4, 28]);
        colArray.push([3, 4, 37]);
        colArray.push([3, 4, 38]);
        colArray.push([3, 4, 39]);
        colArray.push([3, 4, 40]);
        colArray.push([3, 4, 41]);
        makePagination('tb-agentAccount', 3, rowArray, colArray);
    });
        function makePagination(tableId, headerrow, rowArray,colArray)
        {
            $('#' + tableId).DataTable({
                pageLength: 10,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {
                        extend: 'excel',

                        customize: function (xlsx)
                        {
                            var sheet = xlsx.xl.worksheets['sheet1.xml'];
                            var mergeCells = $('mergeCells', sheet);
                            for (var i = 0; i < rowArray.length; i++)
                            {
                                rowmerge(rowArray[i][0], rowArray[i][1], rowArray[i][2]);
                            }
                            for (var i = 0; i < colArray.length; i++)
                            {
                                colmerge(colArray[i][0], colArray[i][1], colArray[i][2]);
                            }
                            function rowmerge(fromCol, toCol,row)
                            {
                                mergeCells[0].appendChild(_createNode(sheet, 'mergeCell', {
                                    attr: {
                                        ref: toColumnName(fromCol) + row + ':' + toColumnName(toCol-1) + row
                                    }
                                }));
                            }

                            function colmerge(fromRow, toRow,col)
                            {
                                mergeCells[0].appendChild(_createNode(sheet, 'mergeCell', {
                                    attr: {
                                        ref: toColumnName(col) + fromRow + ':' + toColumnName(col) + toRow
                                    }
                                }));
                                
                            }

                            function _createNode(doc, nodeName, opts)
                            {
                                var tempNode = doc.createElement(nodeName);
                                if (opts)
                                {
                                    if (opts.attr)
                                    {
                                        $(tempNode).attr(opts.attr);
                                    }
                                    if (opts.children)
                                    {
                                        $.each(opts.children, function (key, value)
                                        {
                                            tempNode.appendChild(value);
                                        });
                                    }
                                    if (opts.text !== null && opts.text !== undefined)
                                    {
                                        tempNode.appendChild(doc.createTextNode(opts.text));
                                    }
                                }
                                return tempNode;
                            }

                            //Function to fetch the cell name
                            function toColumnName(num)
                            {
                                for (var ret = '', a = 1, b = 26; (num -= a) >= 0; a = b, b *= 26)
                                {
                                    ret = String.fromCharCode(parseInt((num % b) / a) + 65) + ret;
                                }
                                return ret;
                            }

                           // $('row c', sheet).attr('s', '25');
                            
                            for (var i = 1; i <= headerrow + 1; i++)
                            {
                              //  $('row:nth-child(' + i + ') c', sheet).attr('s', 7);
                                $('row:nth-child(' + i + ') c', sheet).attr('s', 51);
                            }
                        }
                        
                    }
                ]

            });
        }

        
    </script>
    }