
@{
    ViewData["Title"] = "Account Opening";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-title">
                <h5>Account Opening</h5>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <form id="stepProcess" action="#" class="wizard-big">
                        <h1>Opening</h1>
                        <fieldset>
                            <legend>Account Opening in Core Banking</legend>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Account Type<span class="required">*</span></label>
                                        </div>
                                        <div class="col-xl-3">
                                            <select class="form-control form-element required" id="ac_customer_type" name="ac_customer_type" >
                                            </select>
                                        </div>
                                        <div class="col-xl-1"></div>
                                        <div class="col-xl-2">
                                             <label class="col-form-label">Operating Mode<span class="required">*</span></label>
                                        </div>
                                        <div class="col-xl-3">
                                            <select class="form-control form-element required" id="joint_ac_indicator" name="joint_ac_indicator" >
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-2">
                                             <label class="col-form-label">No of Customer<span class="required">*</span></label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input type="text" id="no_of_customer required" name="no_of_customer" class="form-control form-element" />
                                        </div>
                                        <div class="col-xl-1"></div>
                                        <div class="col-xl-2">
                                             <label class="col-form-label">Account Name<span class="required">*</span></label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input type="text" id="ac_name" name="ac_name" class="form-control form-element required" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-2">
                                             <label class="col-form-label">Check Book</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <div class="form-check-inline">
                                                <input type="radio" class="form-check-input form-element" id="cheque_bookYes" name="cheque_book" value="Yes" checked>
                                                <label class="form-check-label" for="cheque_bookYes">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <input type="radio" class="form-check-input form-element" id="cheque_bookNo" name="cheque_book" value="No">
                                                <label class="form-check-label" for="cheque_bookNo">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-1"></div>
                                        <div class="col-xl-2">
                                             <label class="col-form-label">Debit Card</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <div class="form-check-inline">
                                                <input type="radio" class="form-check-input form-element" id="debit_cardYes" name="debit_card" value="Yes" checked>
                                                <label class="form-check-label" for="debit_cardYes">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <input class="form-check-input form-element" type="radio" name="debit_card" id="debit_cardNo" value="No">
                                                <label class="form-check-label" for="debit_cardNo">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-2">
                                             <label class="col-form-label">Remarks</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <textarea id="remarks" name="remarks" class="form-control form-element"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <h1>Confirm</h1>
                        <fieldset>
                            <legend>Confirm Account Details</legend>
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="row">
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Account Type:</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input type="text" id="Vac_customer_type" name="Vac_customer_type" class="form-control form-element" readonly="readonly" />
                                        </div>
                                        <div class="col-xl-1"></div>
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Operating Mode:</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input type="text" id="Vjoint_ac_indicator" name="Vjoint_ac_indicator" class="form-control form-element" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Number of Customer:</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input type="text" id="Vno_of_customer" name="Vno_of_customer" class="form-control form-element" readonly="readonly" />
                                        </div>
                                        <div class="col-xl-1"></div>
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Account Name:</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input type="text" id="Vac_name" name="Vac_name" class="form-control form-element" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Cheque Book:</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input type="text" id="Vcheque_book" name="Vcheque_book" class="form-control form-element" readonly="readonly" />
                                        </div>
                                        <div class="col-xl-1"></div>
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Debit Card:</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input type="text" id="Vdebit_card" name="Vdebit_card" class="form-control form-element" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Remarks:</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <textarea id="Vremarks" name="Vremarks" class="form-control form-element" readonly="readonly"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <h1>Status</h1>
                        <fieldset>
                            <legend>Complete Status</legend>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-xl-3">
                                             <label class="col-form-label">Account Opening Ref. No:</label>
                                        </div>
                                        <div class="col-xl-4">
                                            <input type="text" id="TransactionID" name="TransactionID" class="form-control form-element " disabled/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <div style="text-align:right" id="page1">
                        <input type="button" value="Submit" class="btn btn-primary ks-next" id="firstPage">
                    </div>
                    <div style="text-align:right" id="page2">
                        <input type="button" value="Previous" class="btn btn-primary ks-previous" id="secondPagePrevious">
                        <input type="button" value="Next" class="btn btn-primary ks-next" id="secondPage">
                    </div>
                    <div style="text-align:right" id="page3">
                        <input type="button" value="OK" class="btn btn-primary ks-next" id="finalPage">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var classUserSetup = function () {
            var formId = "stepProcess";
            var init = function () {
                ApplicationCommon.initialStep(formId, 3);
                eventInitializer();
                validation(formId);
            };
            var eventInitializer = function () {
                $('#firstPage').click(comfirmTransaction);
                $('#secondPage').click(nextMove);
                $('#secondPagePrevious').click(previousMove);
                $('#finalPage').click(finalSubmit);
                combo.getAccountType('ac_customer_type', true);
                combo.getOperatingMode('joint_ac_indicator', true);
            };
            var previousMove = function () {
                ApplicationCommon.nextForword(formId, 0, false);
            };
            var comfirmTransaction = function () {
                if (ApplicationCommon.isValidForm(formId)) {
                    var accountOpen = ApplicationCommon.getData('form-element');
                    var url = '/AccountOpening/ConfirmAccountOpen';
                    ApplicationCommon.request(url, 'POST', accountOpen, false, true, false, function (res) {
                        ApplicationCommon.setVData(res, null);
                        $('#Vac_customer_type').val($('#ac_customer_type option:selected').text());
                        $('#Vjoint_ac_indicator').val($('#joint_ac_indicator option:selected').text());
                        ApplicationCommon.nextForword(formId, 1, true);
                    });
                }
            };
            var nextMove = function () {
                var accountOpen = ApplicationCommon.getData('form-element');
                var url = '/AccountOpening/NewAccountOpening';
                ApplicationCommon.request(url, 'POST', accountOpen, false, true, false, function (res) {
                    ApplicationCommon.showNotification(res.message.messageType, res.message.messageString);
                    if (res.message.messageType == 1) {
                        $('#TransactionID').val(res.transactionID);
                        ApplicationCommon.nextForword(formId, 2, true);
                    }
                });
            };
            var finalSubmit = function () {
                ApplicationCommon.clearFields();
                var url = '/AccountOpening/ClearRegistrationSession';
                ApplicationCommon.request(url, 'POST', {}, false, true, false, function (res) {
                    window.location.reload(false);
                });
            };

            var validation = function (formId) {
                $('#' + formId).validate({
                    rules: {
                        ac_customer_type: {
                            required: true
                        },
                        joint_ac_indicator: {
                            required: true
                        },
                        no_of_customer: {
                            required: true,
                            number: true
                        },
                        ac_name: {
                            required: true
                        }
                    },
                    messages: {
                        ac_customer_type: {
                            required: "Select Account Type to continue"
                        },
                        joint_ac_indicator: {
                            required: "Select Operating Mode to continue"
                        },
                        no_of_customer: {
                            required: "Enter valid number of customer to continue",
                            number: "Customer number must be numeric"
                        },
                        ac_name: {
                            required: "Enter account name to continue"
                        }
                    }
                });
            }
            return { init: init };
        }();

        classUserSetup.init();

    </script>
}