@{
    ViewData["Title"] = "Home";
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-success float-right">Monthly</span>
                    <h5>Account Open</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">386,200</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-primary float-right">Monthly</span>
                    <h5>Service Request</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">80,800</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Monthly Commission</h5>
                    <div class="ibox-tools">
                        <span class="label label-primary">Updated 12.2015</span>
                    </div>
                </div>
                <div class="ibox-content no-padding">
                    <div class="flot-chart m-t-lg" style="height: 55px;">
                        <div class="flot-chart-content" id="flot-chart1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-success float-right">Monthly</span>
                    <h5>Deposit</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">386,200</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-primary float-right">Monthly</span>
                    <h5>Withdraw</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">80,800</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-primary float-right">Monthly</span>
                    <h5>Customer Registration</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">80,800</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div>
                        <span class="float-right text-right">
                            <small>Average value of sales in the past month in: <strong>United states</strong></small>
                            <br />
                            All sales: 162,862
                        </span>
                        <h3 class="font-bold no-margins">
                            Half-year commission margin
                        </h3>
                        <small>Sales marketing.</small>
                    </div>
                    <div class="m-t-sm">
                        <div class="row">
                            <div class="col-md-8">
                                <div>
                                    <canvas id="lineChart" height="114"></canvas>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <ul class="stat-list m-t-lg">
                                    <li>
                                        <h2 class="no-margins">2,346</h2>
                                        <small>Total orders in period</small>
                                        <div class="progress progress-mini">
                                            <div class="progress-bar" style="width: 48%;"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <h2 class="no-margins ">4,422</h2>
                                        <small>Orders in last month</small>
                                        <div class="progress progress-mini">
                                            <div class="progress-bar" style="width: 60%;"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-md">
                        <small class="float-right">
                            <i class="fa fa-clock-o"> </i>
                            Update on 16.07.2015
                        </small>
                        <small>
                            <strong>Analysis of sales:</strong> The value has been changed over time, and last month reached a level over $50,000.
                        </small>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
@section Scripts {
    <environment names="Development">
        <script src="~/ApplicationTheme/lib/flot/jquery.flot.js"></script>
        <script src="~/ApplicationTheme/lib/flot/jquery.flot.tooltip.min.js"></script>
        <script src="~/ApplicationTheme/ApplicationTheme/lib/flot/jquery.flot.resize.js"></script>
        <script src="~/ApplicationTheme/lib/flot/jquery.flot.pie.js"></script>
        <script src="~/ApplicationTheme/lib/flot/jquery.flot.time.js"></script>
        <script src="~/ApplicationTheme/lib/flot/jquery.flot.spline.js"></script>
        <script src="~/ApplicationTheme/lib/chartJs/Chart.min.js"></script>
        <script src="~/ApplicationTheme/lib/peity/jquery.peity.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/ApplicationTheme/lib/flot/jquery.flot.js"></script>
        <script src="~/ApplicationTheme/lib/flot/jquery.flot.tooltip.min.js"></script>
        <script src="~/ApplicationTheme/lib/flot/jquery.flot.resize.js"></script>
        <script src="~/ApplicationTheme/lib/flot/jquery.flot.pie.js"></script>
        <script src="~/ApplicationTheme/lib/flot/jquery.flot.time.js"></script>
        <script src="~/ApplicationTheme/lib/flot/jquery.flot.spline.js"></script>
        <script src="~/ApplicationTheme/lib/chartJs/Chart.min.js"></script>
        <script src="~/ApplicationTheme/lib/peity/jquery.peity.min.js"></script>
    </environment>
    <script type="text/javascript">
$(document).ready(function () {

            $("span.pie").peity("pie", {
                fill: ['#1ab394', '#d7d7d7', '#ffffff']
            })

            var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
            var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

            var data1 = [
                { label: "Data 1", data: d1, color: '#17a084' },
                { label: "Data 2", data: d2, color: '#127e68' }
            ];
            $.plot($("#flot-chart1"), data1, {
                xaxis: {
                    tickDecimals: 0
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 1
                            }, {
                                opacity: 1
                            }]
                        },
                    },
                    points: {
                        width: 0.1,
                        show: false
                    },
                },
                grid: {
                    show: false,
                    borderWidth: 0
                },
                legend: {
                    show: false,
                }
            });
            var lineData = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        label: "Example dataset",
                        backgroundColor: "rgba(26,179,148,0.5)",
                        borderColor: "rgba(26,179,148,0.7)",
                        pointBackgroundColor: "rgba(26,179,148,1)",
                        pointBorderColor: "#fff",
                        data: [48, 48, 60, 39, 56, 37, 30]
                    },
                    {
                        label: "Example dataset",
                        backgroundColor: "rgba(220,220,220,0.5)",
                        borderColor: "rgba(220,220,220,1)",
                        pointBackgroundColor: "rgba(220,220,220,1)",
                        pointBorderColor: "#fff",
                        data: [65, 59, 40, 51, 36, 25, 40]
                    }
                ]
            };

            var lineOptions = {
                responsive: true
            };


            var ctx = document.getElementById("lineChart").getContext("2d");
            new Chart(ctx, { type: 'line', data: lineData, options: lineOptions });


        });</script>
}