
@{
    ViewData["Title"] = "Authorize User";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox" id="iboxTbl">
                <div class="ibox-title">
                    <h5>Authorize User</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up" id="iboxTblImg"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id="iboxContent">
                    <div id="acc_openingreq">

                    </div>
                    <div class="form-group hr-line-dashed"> </div>
                    <div style="text-align:left" id="page1">
                        <input type="button" value="Refresh" class="btn btn-default ks-next" id="refreshPage">
                        <input type="button" value="Authorize" class="btn btn-primary ks-next" id="authorizePage">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">


        var classServiceRequestSearch = function () {
            var init = function () {
                eventInitializer();
            };
            var eventInitializer = function () {
                searchInitiate();
                $('#authorizePage').click(authorizePage);
                $('#refreshPage').click(refreshPage);
            };
            var searchInitiate = function () {
                $('#acc_openingreq').empty();
                var url = '/AppUserAuthorize/GetUnAuthorizeUserList';
                $('#acc_openingreq').load(url);
            };
            var authorizePage = function () {
                var checkedVals = $('.innerCheck:checkbox:checked').map(function () {
                    return this.value;
                }).get();
                if (checkedVals == '') {
                    ApplicationCommon.showNotification("2", "Please Select an Item.")
                }
                else {
                    var listUser = checkedVals.join(",");
                    var formData = new FormData();
                    formData.append("listUser", listUser);
                    var url = '/AppUserAuthorize/AuthUsers';
                    ApplicationCommon.request(url, 'POST', formData, false, true, false, function (res) {
                        ApplicationCommon.showNotification(res.messageType, res.messageString);
        if(res.messageType==1){searchInitiate();}
                    });
                }
            };

            var refreshPage = function () {
                searchInitiate();
            };
            return { init: init };
        }();

        classServiceRequestSearch.init();

    </script>
}

