
@{
    ViewData["Title"] = "Loan WO Search";
}
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox" id="divsidebarCollapse">
                <div class="ibox-title">
                    <h5>Search Parameters</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up" id="sidebarCollapse"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id="sidebarContent">
                    <form id="stepProcess" action="#" class="wizard-big">
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group row">
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Area</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <select id="area" name="area" class="form-control form-element">
                                            </select>
                                        </div>
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Branch</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <select id="branch" name="branch" class="form-control form-element"></select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Wo Date</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <div class="input-group date">
                                                <input class="form-control form-element" type="text" id="wo_date" name="wo_date" placeholder="dd/mm/yyyy" data-mask="99/99/9999">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Loan Number</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input type="text" id="loanNumber" name="loanNumber" class="form-control form-element"/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-xl-5"></div>
                                        <div class="col-xl-2">
                                            <button type="button" class="btn btn-primary" id="search">Search</button>
                                        </div>
                                        <div class="col-xl-3"></div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox" id="iboxTbl">
                <div class="ibox-title">
                    <h5>Lon WO Result</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up" id="iboxTblImg"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id="iboxContent">
                    <div id="div_loanwo"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/ApplicationTheme/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="~/ApplicationTheme/lib/chosen/bootstrap-chosen.css" />
}
@section scripts{
    <script src="~/ApplicationTheme/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/ApplicationTheme/lib/chosen/chosen.jquery.js"></script>
    <script type="text/javascript">
        var classLoanWoSearch = function () {
            var init = function () {
                eventInitializer();
            };
            var eventInitializer = function () {
                $('#search').click(searchInitiate);
                combo.getAreaList('area', '@Url.Content("~/Common/GetAreaList")', true);
                combo.getBranchList('branch','@Url.Content("~/Common/GetBranchList")', $('#area').val(), true);
                $('#area').on('change', function () {
                    combo.getBranchList('branch','@Url.Content("~/Common/GetBranchList")', $('#area').val(), true);
                  //  $('#branch').trigger("chosen:updated");
                });
                $('.input-group.date').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true,
                    format: 'dd/mm/yyyy',
                });
                $('.chosen-select').chosen({ width: "100%" });
            
            };
            var searchInitiate = function () {
                var area_code = $('#area').val();
                var branch_code =$('#branch').val();
                var wo_date = $('#wo_date').val();
                var loanNumber = $('#loanNumber').val();
                $('#div_loanwo').empty();
                var url = '@Url.Content("~/LoanWo/GetWoLoan")';
                url = url+'?area_code=' + area_code + '&&branch_code=' + branch_code + '&&wo_date=' + wo_date + '&&loanNumber=' + loanNumber;
                $('#div_loanwo').load(url);
            };
            return { init: init};
        }();

        classLoanWoSearch.init();

    </script>
}

