@Model int
@{
    ViewData["Title"] = "StatusCodeHandle";
    Layout = null;
}
<link rel="stylesheet" href="~/ApplicationTheme/lib/bootstrap/dist/css/bootstrap.css" />
<h1>Status Code Handle</h1>
<div class="bg-danger">
    <h2>Custom Error Page</h2>

    <h5>@ViewBag.ErrorMessasge</h5>
</div>

