
@{
    ViewData["Title"] = "Application User List";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox" id="iboxTbl">
                <div class="ibox-title">
                    <h5>Application User List</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up" id="iboxTblImg"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id="iboxContent">
                    <div id="acc_openingreq">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var classServiceRequestSearch = function () {
            var init = function () {
                eventInitializer();
            };
            var eventInitializer = function () {
                searchInitiate();
            };
            var searchInitiate = function () {
                $('#acc_openingreq').empty();
                var url = '/AppUserPasswordEmail/GetUserPassworEmailList';
                $('#acc_openingreq').load(url);
            };            
            return { init: init, searchInitiate: searchInitiate };
        }();

        classServiceRequestSearch.init();

    </script>
}

