@{
    ViewData["Title"] = "Transaction Limit Allocation";
}
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Transaction Limit Allocation</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="limitTransactionPackageSetup">
                                <div class="row" id="btnBeforeSubmit">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <h4 class="col-form-label"> Limit Area Details</h4>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"> </div>
                                        <div class="row form-group">
                                            <div class="col-lg-5">
                                                <div class="form-group row">
                                                    <div class="col-xl-5">
                                                        <label class="col-form-label">Limit Scope:<span class="required">*</span></label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <select id="limit_scope" name="limit_scope" class="form-control form-element required"></select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-xl-5">
                                                        <label class="col-form-label">Agent/Customer Type:<span class="required">*</span></label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <select id="usertype" name="usertype" class="form-control form-element required"></select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-xl-5">
                                                        <label class="col-form-label">Limit Package:<span class="required">*</span></label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <select id="limit_id" name="limit_id" class="form-control form-element required"></select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-xl-5">
                                                        <label class="col-form-label">Effect Date:<span class="required">*</span></label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <div class="input-group date">
                                                            <input class="form-control form-element required" type="text" id="eff_date" name="eff_date" placeholder="dd/mm/yyyy" data-mask="99/99/9999">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div>
                                                <div class="vertical-line vertical-line-border">
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="form-group row">
                                                    <div class="col-xl-5">
                                                        <label class="col-form-label">Limit Interval:</label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <input type="text" id="limit_frequency" name="limit_frequency" class="form-control form-element" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-xl-5">
                                                        <label class="col-form-label">Agent/Customer Ref. No. <span class="required">*</span><span>(Agent ID/Customer Account No)</span></label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <input type="text" id="user_ref_no" name="user_ref_no" class="form-control form-element required" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-xl-5">
                                                        <label class="col-form-label"> Account Type:</label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <select id="ac_type_desc" name="ac_type_desc" class="form-control form-element"></select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-xl-5">
                                                    </div>
                                                    <div class="col-xl-6">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group hr-line-dashed"> </div>
                                        <div class="form-group row">
                                            <div class="col-xl-1">
                                                <input type="button" value="Submit" class="btn btn-primary ks-next" id="btnSubmit">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="btnAfterSubmit">
                                    <div class="col-lg-12">
                                        <div class="form-group row">
                                            <div class="col-xl-12 ibox-heading">
                                                <h4 class="col-form-label"> Limit Area Details</h4>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xl-2">
                                                <label class="col-form-label">Limit Scope:</label>
                                            </div>
                                            <div class="col-xl-3">
                                                <input type="text" id="Vlimit_scope" name="Vlimit_scope" class="form-control form-element" readonly />
                                            </div>
                                            <div class="col-xl-2">
                                                <label class="col-form-label">Limit Interval:</label>
                                            </div>
                                            <div class="col-xl-3">
                                                <input type="text" id="Vlimit_frequency" name="Vlimit_frequency" class="form-control form-element" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xl-2">
                                                <label class="col-form-label">Agent/Customer Type:</label>
                                            </div>
                                            <div class="col-xl-3">
                                                <input type="text" id="Vusertype" name="Vusertype" class="form-control form-element" readonly />
                                            </div>
                                            <div class="col-xl-2">
                                                <label class="col-form-label">Agent/Customer Ref. No.<span>(Agent ID/Customer Account No)</span></label>
                                            </div>
                                            <div class="col-xl-3">
                                                <input type="text" id="Vuser_name" name="Vuser_name" class="form-control form-element" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xl-2">
                                                <label class="col-form-label">Limit Package:</label>
                                            </div>
                                            <div class="col-xl-3">
                                                <input type="text" id="Vlimit_desc" name="Vlimit_desc" class="form-control form-element" readonly />
                                            </div>
                                            <div class="col-xl-2">
                                                <label class="col-form-label"> Account Type:</label>
                                            </div>
                                            <div class="col-xl-3">
                                                <input type="text" id="Vac_type_desc" name="Vac_type_desc" class="form-control form-element" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xl-2">
                                                <label class="col-form-label">Effect Date:</label>
                                            </div>
                                            <div class="col-xl-3">
                                                <input type="text" id="Veff_date" name="Veff_date" class="form-control form-element" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xl-8"></div>
                                            <div class="col-xl-1">
                                                <input type="button" value="Confirm" class="btn btn-primary ks-next" id="btnConfirm">
                                            </div>
                                            <div class="col-xl-1">
                                                <input type="button" value="Change" class="btn btn-primary ks-next" id="btnChange">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Styles {
    <link rel="stylesheet" href="~/ApplicationTheme/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
}
@section Scripts {
    <script src="~/ApplicationTheme/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        var classTransactionLimitSetup = function () {
            var formId = "limitTransactionPackageSetup";
            var init = function () {
                eventInitializer();
                validation(formId);
                combo.getLimitUserTypeList("usertype", '/Common/GetLimitUserTypeList', true);
                combo.getLimitPackageList("limit_id", '/Common/GetLimitPackageList', true);
                combo.getLimitScope("limit_scope", true);
                combo.getActype("ac_type_desc", true);
            };
            var eventInitializer = function () {
                $('#btnSubmit').click(submitTransactionLimitPackage);
                $('#btnConfirm').click(confirmTransactionLimitPackage);
                $('#btnChange').click(changeTransactionLimitPackage);
                hideShow(true);
                $('.input-group.date').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true,
                    format: 'd/m/yyyy',
                });
            };
            var submitTransactionLimitPackage = function () {
                if (ApplicationCommon.isValidForm(formId)) {
                    var limitPackage = ApplicationCommon.getData('form-element');
                    var url = '/LimitPackage/SubmitTransactionLimitPackage';
                    ApplicationCommon.request(url, 'POST', limitPackage, false, true, false, function (res) {
                        //  ApplicationCommon.showNotification(res.message.messageType, res.message.messageString);

                        if (res.message.messageType == 1) {
                            ApplicationCommon.setVData(res, null);
                            $('#Vlimit_scope').val($('#limit_scope option:selected').text());
                            $('#Vusertype').val($('#usertype option:selected').text());
                            $('#Vlimit_desc').val($('#limit_id option:selected').text());
                            if ($('#ac_type_desc').val()) { $('#Vac_type_desc').val($('#ac_type_desc option:selected').text()); }
                            hideShow(false);
                        } else {
                            ApplicationCommon.showNotification(res.message.messageType, res.message.messageString);
                        }
                    });


                }
            };
            var changeTransactionLimitPackage = function () {
                hideShow(true);

            };
            var confirmTransactionLimitPackage = function () {
                var limitPackage = ApplicationCommon.getData('form-element');
                var url = '/LimitPackage/SaveTransactionLimitPackage';
                ApplicationCommon.request(url, 'POST', limitPackage, false, true, false, function (res) {
                    ApplicationCommon.showNotification(res.messageType, res.messageString);

                    if (res.messageType == 1) {
                        ApplicationCommon.clearFields();
                        hideShow(true);
                    }
                });
            };

            var validation = function (formId) {
                $('#' + formId).validate({
                    rules: {
                        limit_scope: {
                            required: true
                        },
                        usertype: {
                            required: true
                        },
                        user_ref_no: {
                            required: function (element) {
                                return $('#limit_scope').val() === "S"
                            }
                        },
                        limit_id: {
                            required: true
                        },
                        eff_date: {
                            required: true
                        },
                        limit_frequency: {
                            number: true
                        }
                    },
                    messages: {
                        limit_scope: {
                            required: "Select Scope to continue"
                        },
                        usertype: {
                            required: "Select Agent/Customer Type to continue"
                        },
                        user_ref_no: {
                            required: "Enter Agent/Customer Reference No to continue"
                        },
                        limit_id: {
                            required: "Select Package to continue"
                        },
                        eff_date: {
                            required: "Enter Effect Date to continue"
                        },
                        limit_frequency: {
                            number: "Enter Numeric Number"
                        }
                    }

                });
            };
            var hideShow = function (isStart) {
                if (isStart) {
                    $('#btnAfterSubmit').hide();
                    $('#btnBeforeSubmit').show();
                } else {
                    $('#btnAfterSubmit').show();
                    $('#btnBeforeSubmit').hide();
                }
            };
            return { init: init };
        }();

        classTransactionLimitSetup.init();
    </script>
}


