@{
    ViewData["Title"] = "Transaction Limit Authorization";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox " id="iboxTbl">
                <div class="ibox-title">
                    <h5>Transaction Limit Authorization</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up" id="iboxTblImg"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id="iboxContent">
                    <div id="div_transactionlimitAuthorize">

                    </div>
                    <div class="form-group hr-line-dashed"> </div>
                    <div style="text-align:left" id="page1">
                        <button type="button" class="btn btn-default" id="btnRefresh">Refresh</button>
                        <button type="button" class="btn btn-primary" id="btnAuthorize">Authorize</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/ApplicationTheme/lib/sweetalert/dist/sweetalert.css" />
    </environment>
}
@section scripts{
    <script src="~/ApplicationTheme/lib/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        var classTransactionLimitAuthorize = function () {
            var init = function () {
                eventInitializer();
            };
            var eventInitializer = function () {
                $('#btnAuthorize').click(authorise);
                $('#btnRefresh').click(refresh);
                searchInitiate();
            };
            var searchInitiate = function () {
                $('#div_transactionlimitAuthorize').empty();
                var url = '/LimitPackage/TransactionLimitAuthorizationList';
                $('#div_transactionlimitAuthorize').load(url);
            };
            var authorise = function () {
                var limitSlNos = getAllData();
                if (limitSlNos.length < 1) {
                    ApplicationCommon.showNotification("2", "Select atleast one Assigned Limit Package to authorize.");
                } else {
                    var url = '/LimitPackage/AuthorizationTransactionLimit';
                    ApplicationCommon.post(url, { "limitSlNos": limitSlNos }, function (res) {
                        ApplicationCommon.showNotification(res.messageType, res.messageString);
                        if (res.messageType == 1) {
                            searchInitiate();
                        }
                    });
                }
            };
            var viewdata = function (limit_id) {
                window.open("/LimitPackage/LimitPackageView?limitId=" + limit_id, '_blank');
               // window.location.href = "/LimitPackage/LimitPackageView?limitId=" + limit_id;
            };
            var deletedata = function (limit_slno) {
                swal({
                    title: "Are you sure?",
                    text: "Do you really want to delete this transaction limit?(Yes/No)",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    closeOnConfirm: false
                }, function () {

                    var formData = new FormData();
                    formData.append("limit_slno", limit_slno);
                    var url = '/LimitPackage/DeleteTransactionLimit';
                    ApplicationCommon.request(url, 'POST', formData, false, true, false, function (res) {
                        ApplicationCommon.showNotification(res.messageType, res.messageString);
                        swal.close();
                        if (res.messageType == 1) {
                            searchInitiate();
                        }
                    });

                });

            };
            var refresh = function () {
                searchInitiate();
            };
            var getAllData = function () {
                var limitSlNos = [];
                $('#tb-transactionlimitAuthorize').find('tr').each(function (index) {
                    if (index > 0) {
                        var row = $(this);
                        if (row.find('input[type="checkbox"]').is(':checked')) {
                            var limit_slno = row.find('td:eq(1)').text();
                            limitSlNos.push(limit_slno);
                        }
                    }
                });
                return limitSlNos;
            };

            return { init: init, viewdata: viewdata, deletedata: deletedata };
        }();

        classTransactionLimitAuthorize.init();

    </script>
}


