@{
    ViewData["Title"] = "Withdraw Authorize";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox" id="divsidebarCollapse">
                <div class="ibox-title">
                    <h5>Search Parameters</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up" id="sidebarCollapse"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id="sidebarCollapse2">
                    <form id="stepProcess" action="#" class="wizard-big">
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group row">
                                        <div class="col-xl-2"></div>
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Request ID</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input type="text" id="trans_id" name="trans_id" class="form-control form-element" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-5"></div>
                                        <div class="col-xl-2">
                                            <button type="button" class="btn btn-primary" id="search">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Existing Remittance Request</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="div_withdrawRemittance"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">


        var classRemitanceAuthorize = function () {
            var init = function () {
                eventInitializer();
            };
            var eventInitializer = function () {
                $('#search').click(searchRemitance);
                searchRemitance();
            };
            var searchRemitance = function () {

                var trans_id = $('#trans_id').val();
                if (!trans_id) trans_id = "";
                $('#div_withdrawRemittance').empty();
                var url = '/WithdrawRemittance/WithdrawAuthorizeList';
                $('#div_withdrawRemittance').load(url + '?trans_id=' + trans_id);

            };
            var updateAmountSubmit = function () {
                var amount = $("#modalUpdateNewAmount").val();
                var trans_id = $("#modalUpdateTransaction").val();
                if (amount) {
                    var formData = new FormData();
                    formData.append("trans_id", trans_id);
                    formData.append("amount", amount);
                    var url = '/WithdrawRemittance/UpdateAmount';
                    ApplicationCommon.request(url, 'POST', formData, false, true, false, function (res) {
                        ApplicationCommon.showNotification(res.messageType, res.messageString);
                        if (res.messageType == 1) {
                            $(".modal-backdrop").remove();
                            searchRemitance();
                        }
                    });
                }
                else {
                    ApplicationCommon.showNotification("Error", "Enter new amount to continue.");
                }

            };
            var declineTransaction = function () {
                var reason = $("#modalDeclineReason").val();
                var trans_id = $("#modalDeclineTransaction").val();
                if (reason) {
                    var formData = new FormData();
                    formData.append("trans_id", trans_id);
                    formData.append("reason", reason);
                    var url = '/WithdrawRemittance/DeclineTransaction';
                    ApplicationCommon.request(url, 'POST', formData, false, true, false, function (res) {
                        ApplicationCommon.showNotification(res.messageType, res.messageString);
                        if (res.messageType == 1) {
                            $(".modal-backdrop").remove();
                            searchRemitance();
                        }
                    });
                }
                else {
                    ApplicationCommon.showNotification("Error", "Enter Reset reason to continue.");
                }

            };

            return { init: init, declineTransaction: declineTransaction, updateAmountSubmit: updateAmountSubmit };
        }();

        classRemitanceAuthorize.init();

    </script>
}



