
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal_customer_Serch">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Search Account Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="la la-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xl-2">
                            <label class="col-form-label">Account No</label>
                        </div>
                        <div class="col-xl-5">
                            <div class="input-group">
                                <input type="text" class="form-control" id="ModalAccountNo" name="ModalAccountNo" data-validation="number" data-validation-error-msg="Enter Account no to continue"
                                       data-validation-length="13">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" id="btnGetCustome" type="button">Get</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="txtControlId" name="txtControlId">
                <input type="hidden" id="txtMethodName" name="txtMethodName">
                <hr />
                <h5 class="modal-title">Account Customer List</h5>
                <div id="customer_Serach">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary-outline ks-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#btnGetCustome').click(function () {
            var accountNo = $('#ModalAccountNo').val();
            if (!accountNo) {
                ApplicationCommon.showNotification("2", "Enter account no to search.");
                $('#ModalAccountNo').focus();
                return false;
            }
            if (accountNo.length != 13) {
                ApplicationCommon.showNotification("2", "Enter a valid account no to search.");
                $('#ModalAccountNo').focus();
                return false;
            }
            ApplicationCommon.request("/Common/GetAccount", 'GET', { accountNo: accountNo }, false, true, false, function (res) {
                if (res.messageType == 1) {
                    ApplicationCommon.loadCustomers(accountNo);
                } else {
                    ApplicationCommon.showNotification(res.messageType, res.messageString);
                }
            });


        });
    });
</script>
