<div class="footer">
    <div class="float-right">
        Developed by: EBL-IT
    </div>
    <div>
        <strong>Copyright</strong>  © 2018 EBL All rights reserved.
    </div>
</div>

<script type="text/javascript">
 //var stepShow = function (id)
            //{
            //    var result = false;
            //    $("#" + id).steps({
            //        bodyTag: "fieldset",
            //        labels:
            //        {
            //            finish: "OK",
            //            next: "Submit"
            //        },
            //        onStepChanging: function (event, currentIndex, newIndex)
            //        {
            //            if (currentIndex > newIndex)
            //            {
            //                return true;
            //            }
            //            var form = $(this);
            //            if (currentIndex < newIndex)
            //            {
            //                $(".body:eq(" + newIndex + ") label.error", form).remove();
            //                $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
            //            }
            //            form.validate().settings.ignore = ":disabled,:hidden";
            //            var stageChange = false;
            //            switch (currentIndex)
            //            {

            //                case 0:
            //                    if (form.valid())
            //                    {
            //                       // comfirmTransaction();
            //                        return true;
            //                    }
            //                    break;
            //                case 1:
            //                   // nextMove();
            //                    return true;
            //                    break;
            //                case 2:
            //                   // next2Move();
            //                    return true;
            //                    break;
            //                case 3:
            //                   // next3Move();
            //                    return true;
            //                    break;
            //            }
            //        },
            //        onStepChanged: function (event, currentIndex, priorIndex)
            //        {
            //            //if (currentIndex == 2)
            //            //{
            //            //    $(this).steps("next");
            //            //}

            //            $('a[href$="next"]').text('Next');
            //            //if (currentIndex == 2)
            //            //{
            //            //   // $('a[href$="previous"]').parent().addClass('disabled');
            //            //    $(this).steps("previous");
            //            //    return;
            //            //  //  $(this).steps("previous");
            //            //}
            //            if (currentIndex == 4)
            //            {
            //                 $('a[href$="previous"]').parent().addClass('disabled');
            //            }
            //            if (currentIndex == 4 && result == false)
            //            { result = true; $("#" + id).steps("setStep", 2); }
            //        },
            //        onFinished: function (event, currentIndex)
            //        {
            //            finalSubmit();
            //            window.location.reload(false);
            //        }
            //    }).validate({
            //        errorPlacement: function (error, element)
            //        {
            //            element.before(error);
            //        },
            //        rules: {
            //            transactionAccountNo: {
            //                required: true,
            //                digits: true
            //            },
            //            transactionAmount: {
            //                required: true,
            //                number: true
            //            }
            //        },
            //        messages: {
            //            transactionAccountNo: {
            //                required: "Enter account no to continue",
            //                digits: "Account number must be numeric"
            //            },
            //            transactionAmount: {
            //                required: "Enter amount no to continue",
            //                number: "Amount must be numeric"
            //            }
            //        }

            //    });
            //};

            //$.fn.steps.onStepChanged = function (step)
            //{
            //    alert('hello');
            //};
    </script>